input {
    width: 150px;
    border: 1px solid #cfd5d2;
    padding: 5px;
    height: 20px;
    border-radius:5px;
    color: #9DBFAF;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.block{
    display:block;
    width: 318px;
    margin:10px 0;
}
button{
    background-color: #3085C3;
    color:white;
    border: none;
    padding: 15px ;
    font-size: larger;
    font-weight: 700px;
    width: 328px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}