div{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: green;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}